Repository simonmeyer88/lecca-io_ai_agent: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix", "eslint"],
  "*.{json,md,css,html,yml,yaml}": ["prettier --write"]
}

chore(release): 0.6.0
  CHANGELOG.md
  package.json
  packages/apps/package.json
  packages/toolkit/package.json
Due: prettier --write

feat(ui): Hide google sign in if no google client id
  packages/ui/src/components/google-sign-in.tsx
Due: prettier --write, eslint --fix, eslint

fix(ui): Fix tailwind config to work with monorepo migration
  .prettierignore
  packages/ui/project.json
  packages/ui/src/components/icons.tsx
  packages/ui/src/tailwind/tailwind.output.css
Due: prettier --write, eslint --fix, eslint

fix(apps): Replace integration base url env with hardcoded string
  packages/apps/src/lib/flow-control/actions/conditional-paths.action.ts
  packages/apps/src/lib/flow-control/actions/get-custom-input.action.ts
  packages/apps/src/lib/flow-control/actions/manually-decide-path.action.ts
  packages/apps/src/lib/flow-control/actions/output-workflow-data.action.ts
  packages/apps/src/lib/flow-control/actions/pause.action.ts
  packages/apps/src/lib/flow-control/actions/run-workflow.action.ts
  packages/apps/src/lib/flow-control/actions/schedule.action.ts
  packages/apps/src/lib/flow-control/actions/wait.action.ts
Due: prettier --write, eslint --fix, eslint

feat(server): Add error handler to ai chat stream
  package.json
  packages/server/src/modules/core/tasks/tasks.controller.ts
  packages/server/src/modules/core/tasks/tasks.service.ts
  packages/ui/src/tailwind/tailwind.output.css
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, eslint

fix(ui): Prevent auth errors from showing up in system messages in ui
  packages/ui/src/pages/agents/chat/components/chat.tsx
Due: prettier --write, eslint --fix, eslint

chore(release): 0.7.0
  CHANGELOG.md
  package.json
  packages/apps/package.json
  packages/toolkit/package.json
Due: prettier --write

docs: Remove docker-compose until we're ready to setup it up properly
  docker-compose.yml
Due: prettier --write

refactor(server): Remove stripe values from server config
  packages/server/src/config/server.config.ts
  packages/server/src/modules/commercial/stripe/stripe.service.ts
  packages/server/src/modules/core/discovery/discovery.service.ts
  packages/server/src/modules/global/credits/credits.service.ts
Due: prettier --write, eslint --fix, eslint

feat(server): Add DEV_EMAIL_DOMAIN server config item for dev module
  packages/server/src/config/server.config.ts
  packages/server/src/modules/core/dev/dev.controller.ts
  packages/server/src/modules/core/workflow-templates/workflow-templates.controller.ts
Due: prettier --write, eslint --fix, eslint

docs(toolkit): Add some comments to the toolkit functions
  packages/server/src/config/server.config.ts
  packages/toolkit/src/lib/core/action/createAction.ts
  packages/toolkit/src/lib/core/app/createApp.ts
  packages/toolkit/src/lib/types/node.types.ts
  packages/ui/vite.config.mts
Due: prettier --write, eslint --fix, eslint

feat(ui): Remove old logo and replace with credit card on left rail
  packages/ui/public/branding/logo.png
  packages/ui/src/components/icons.tsx
  packages/ui/src/components/layouts/application-side-nav.tsx
Due: prettier --write, eslint --fix, eslint

chore(server): Update apps package version
  pnpm-lock.yaml
Due: prettier --write

chore(release): 0.8.0
  CHANGELOG.md
  package.json
  packages/apps/package.json
  packages/toolkit/package.json
Due: prettier --write

feat(ui): Update favicon to use new logo
  packages/ui/index.html
  packages/ui/public/favicon/android-chrome-192x192.png
  packages/ui/public/favicon/android-chrome-512x512.png
  packages/ui/public/favicon/apple-touch-icon.png
  packages/ui/public/favicon/favicon-16x16.png
  packages/ui/public/favicon/favicon-32x32.png
  packages/ui/public/favicon/favicon.ico
  packages/ui/public/favicon/safari-pinned-tab.svg
  packages/ui/public/favicon/site.webmanifest
Due: prettier --write

chore(ui): Update package lock
  packages/toolkit/src/lib/types/input-config.types.ts
  packages/ui/Dockerfile
  packages/ui/vite.config.mts
  pnpm-lock.yaml
Due: prettier --write, eslint --fix, eslint

chore(release): 0.9.0
  CHANGELOG.md
  package.json
  packages/apps/package.json
  packages/toolkit/package.json
Due: prettier --write

fix(server): Stringify the pipe stream error when ai chat streaming
  packages/server/src/modules/core/tasks/tasks.controller.ts
Due: prettier --write, eslint --fix, eslint

refactor(apps): Update template app files
  packages/apps/src/lib/TEMPLATE/paradigm-vendo.app.ts
  packages/apps/src/lib/TEMPLATE/your-new-app.app.ts
Due: prettier --write, eslint --fix, eslint

feat(apps): Add brave search and serper dev apps
  package.json
  packages/apps/src/index.ts
  packages/apps/src/lib/brave-search/actions/brave-search.action.ts
  packages/apps/src/lib/brave-search/brave-search.app.ts
  packages/apps/src/lib/brave-search/connections/brave-search.api-key.ts
  packages/apps/src/lib/serper/actions/serper-search.action.ts
  packages/apps/src/lib/serper/connections/serper.api-key.ts
  packages/apps/src/lib/serper/serper.app.ts
  packages/server/src/apps/lib/action.ts
  packages/server/src/apps/lib/app.ts
  packages/server/src/apps/lib/trigger.ts
Due: prettier --write, eslint --fix, eslint

chore(release): 0.10.0
  CHANGELOG.md
  package.json
  packages/apps/package.json
  packages/toolkit/package.json
Due: prettier --write

chore: Update package lock
  packages/apps/tsconfig.lib.json
  packages/toolkit/tsconfig.lib.json
  pnpm-lock.yaml
Due: prettier --write

ci: Publish npm package first and update dep version during release
  .github/workflows/deploy-server-production.yml
  .github/workflows/deploy-ui-production.yml
  .github/workflows/publish-npm-package.yml
  scripts/update-package-versions.js
Due: prettier --write, eslint --fix, eslint

feat(ui): Update favicons
  packages/ui/public/favicon/android-chrome-192x192.png
  packages/ui/public/favicon/android-chrome-512x512.png
  packages/ui/public/favicon/apple-touch-icon.png
  packages/ui/public/favicon/favicon-16x16.png
  packages/ui/public/favicon/favicon-32x32.png
  packages/ui/public/favicon/favicon.ico
Due: none

chore(release): 0.11.0
  CHANGELOG.md
  package.json
  packages/apps/package.json
  packages/toolkit/package.json
Due: prettier --write

fix: Test pnpm-lock overrides for ci
  package.json
  pnpm-lock.yaml
  scripts/update-package-versions.js
Due: prettier --write, eslint --fix, eslint

chore(release): 0.11.1
  CHANGELOG.md
  package.json
  packages/apps/package.json
  packages/toolkit/package.json
Due: prettier --write

fix: Update Docker and github action to do normal install no lock
  .github/workflows/publish-npm-package.yml
  package.json
  packages/server/Dockerfile
  packages/ui/Dockerfile
  scripts/update-package-versions.js
Due: prettier --write, eslint --fix, eslint

chore(release): 0.11.2
  CHANGELOG.md
  package.json
  packages/apps/package.json
  packages/toolkit/package.json
Due: prettier --write

fix: Update pnpm lock file
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore(release): 0.11.3
  CHANGELOG.md
  package.json
  packages/apps/package.json
  packages/toolkit/package.json
Due: prettier --write

fix: Add --no-frozen-lockfile
  .github/workflows/publish-npm-package.yml
  packages/server/Dockerfile
  packages/ui/Dockerfile
Due: prettier --write

chore(release): 0.11.4
  CHANGELOG.md
  package.json
  packages/apps/package.json
  packages/toolkit/package.json
Due: prettier --write

fix: Set @lecca-io packages to latest
  package.json
  packages/apps/package.json
  pnpm-lock.yaml
  scripts/update-package-versions.js
Due: prettier --write, eslint --fix, eslint

ci: Update install command in yml and dockerfiles
  .github/workflows/publish-npm-package.yml
  packages/server/Dockerfile
  packages/ui/Dockerfile
Due: prettier --write

chore(release): 0.11.5
  CHANGELOG.md
  package.json
  packages/apps/package.json
  packages/toolkit/package.json
Due: prettier --write

fix: Update conditions on deploy yml
  .github/workflows/deploy-server-production.yml
  .github/workflows/deploy-ui-production.yml
Due: prettier --write

chore(release): 0.11.6
  CHANGELOG.md
  package.json
  packages/apps/package.json
  packages/toolkit/package.json
Due: prettier --write

fix(server): Update polling services to check if credits are enabled
  packages/server/src/apps/lib/app.ts
  packages/server/src/config/server.config.ts
  packages/server/src/modules/core/poller/poller.service.ts
Due: prettier --write, eslint --fix, eslint

feat(server): Remove s3 error log when deleting nothing
  packages/server/src/modules/global/s3/s3.service.ts
Due: prettier --write, eslint --fix, eslint
