Repository simonmeyer88/lecca-io_ai_agent: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix", "eslint"],
  "*.{json,md,css,html,yml,yaml}": ["prettier --write"]
}

refactor: Remove unused service and contorller endpoint
  packages/server/src/modules/core/tasks/tasks.controller.ts
  packages/server/src/modules/core/tasks/tasks.module.ts
  packages/server/src/modules/core/tasks/tasks.service.ts
  packages/ui/src/api/services/agents-service.ts
Due: prettier --write, eslint --fix, eslint

fix(ui): Add agent.tools to canStream check
  packages/ui/src/pages/agents/chat/components/chat.tsx
  packages/ui/src/tailwind/tailwind.output.css
Due: prettier --write, eslint --fix, eslint

chore(release): 0.12.0
  CHANGELOG.md
  package.json
  packages/apps/package.json
  packages/toolkit/package.json
Due: prettier --write

feat: Remove unecessary vite google client id in example env file
  .env.example
Due: none

feat: Add SKIP_EMAIL_VERIFICATION env variable and logic to skip
  .env.example
  packages/server/src/config/server.config.ts
  packages/server/src/modules/core/auth/auth.controller.ts
  packages/server/src/modules/core/discovery/discovery.service.ts
  packages/ui/src/api/services/auth-service.ts
  packages/ui/src/pages/onboarding/onboarding-page.tsx
  packages/ui/src/pages/welcome/welcome-page.tsx
  packages/ui/src/tailwind/tailwind.output.css
  packages/ui/vite.config.mts
Due: prettier --write, eslint --fix, eslint

feat(server): Add error handling for missing NGROK_TUNNEL_URL in development
  .env.example
  packages/server/src/apps/lib/connection.ts
  packages/server/src/config/server.config.ts
  packages/server/src/modules/core/workflow-apps/workflow-apps.controller.ts
  packages/server/src/modules/core/workflow-apps/workflow-apps.service.ts
Due: prettier --write, eslint --fix, eslint

chore(release): 0.13.0
  CHANGELOG.md
  package.json
  packages/apps/package.json
  packages/toolkit/package.json
Due: prettier --write

feat(server): Add helpful error message for missing ai api keys
  packages/server/src/modules/core/discovery/discovery.service.ts
  packages/server/src/modules/global/ai-provider/ai-provider.service.ts
Due: prettier --write, eslint --fix, eslint

feat(ui): Hide templates carousel if there are no templates
  packages/ui/src/pages/home/components/template-carousel.tsx
  packages/ui/src/pages/home/home-page.tsx
Due: prettier --write, eslint --fix, eslint

feat(ui): Parse chat error message improvements
  packages/ui/src/pages/agents/chat/components/chat.tsx
Due: prettier --write, eslint --fix, eslint

fix(server): Fix credit service check workspace ownership
  packages/server/src/modules/core/dev/dev.service.ts
  packages/server/src/modules/global/credits/credits.service.ts
Due: prettier --write, eslint --fix, eslint

chore(release): 0.14.0
  CHANGELOG.md
  package.json
  packages/apps/package.json
  packages/toolkit/package.json
Due: prettier --write

feat: Add recent conversations home page section
  packages/server/src/modules/core/tasks/tasks.service.ts
  packages/ui/src/pages/home/components/home-sections/home-section-no-agent-or-workflow.tsx
  packages/ui/src/pages/home/components/home-sections/home-section-recent-tasks.tsx
  packages/ui/src/pages/home/components/home-sections/home-section-recent-workflows.tsx
  packages/ui/src/pages/home/home-page.tsx
  packages/ui/src/pages/tasks/components/table/tasks-table-columns.tsx
  packages/ui/src/tailwind/tailwind.output.css
Due: prettier --write, eslint --fix, eslint

ci: Add composite to tsconfig spec and app files
  packages/server/tsconfig.app.json
  packages/server/tsconfig.spec.json
  packages/ui/tsconfig.app.json
  packages/ui/tsconfig.spec.json
Due: prettier --write

feat!: Setup docker compose, add new env variables, add setup script
  .env.example
  docker-compose.yml
  packages/server/src/config/env.config.ts
  packages/server/tsconfig.app.json
  packages/ui/Dockerfile
  packages/ui/src/tailwind/tailwind.output.css
  packages/ui/tsconfig.app.json
  scripts/setup-env.sh
  scripts/update-package-versions.js
Due: prettier --write, eslint --fix, eslint

chore(release): 0.15.0
  CHANGELOG.md
  package.json
  packages/apps/package.json
  packages/toolkit/package.json
Due: prettier --write

feat: Add setup-env.ps1 script for quick onboarding
  scripts/setup-env.ps1
Due: none

feat: Update postgres_username env
  .env.example
  docker-compose.yml
  scripts/setup-env.ps1
  scripts/setup-env.sh
Due: prettier --write

ci: Add platform docker builds
  .github/workflows/deploy-server-production.yml
  .github/workflows/deploy-ui-production.yml
Due: prettier --write

ci: Add docker buildx step
  .github/workflows/deploy-server-production.yml
  .github/workflows/deploy-ui-production.yml
Due: prettier --write

chore(release): 0.16.0
  CHANGELOG.md
  package.json
  packages/apps/package.json
  packages/toolkit/package.json
Due: prettier --write

ci: Update docker build step
  .github/workflows/deploy-server-production.yml
  .github/workflows/deploy-ui-production.yml
Due: prettier --write

feat: Add nginx to dockerfile for SPA routing
  packages/ui/Dockerfile
  packages/ui/nginx.conf
Due: none

chore(release): 0.17.0
  CHANGELOG.md
  package.json
  packages/apps/package.json
  packages/toolkit/package.json
Due: prettier --write

ci: Remove docker platform build temporarily
  .github/workflows/deploy-server-production.yml
  .github/workflows/deploy-ui-production.yml
Due: prettier --write

feat: Add IS_DOCKER env in docker build to determine localhost
  packages/server/Dockerfile
  packages/server/src/config/server.config.ts
Due: prettier --write, eslint --fix, eslint

chore(release): 0.18.0
  CHANGELOG.md
  package.json
  packages/apps/package.json
  packages/toolkit/package.json
Due: prettier --write

chore: Add tslib to toolkit package
  packages/toolkit/package.json
  packages/toolkit/pnpm-lock.yaml
Due: prettier --write

chore: Add composite true to tsconfig
  packages/apps/tsconfig.spec.json
Due: prettier --write

feat(apps): Create embedding and pinecone vector query and upsert
  packages/apps/src/index.ts
  packages/apps/src/lib/openai/actions/create-embedding.action.ts
  packages/apps/src/lib/openai/openai.app.ts
  packages/apps/src/lib/pinecone/actions/list-indexes.action.ts
  packages/apps/src/lib/pinecone/actions/query-vectors.action.ts
  packages/apps/src/lib/pinecone/actions/upsert-vector.action.ts
  packages/apps/src/lib/pinecone/connections/pinecone.api-key.ts
  packages/apps/src/lib/pinecone/pinecone.app.ts
  packages/apps/src/lib/pinecone/shared/pinecone.shared.ts
  packages/ui/src/components/forms/create-connection-form.tsx
Due: prettier --write, eslint --fix, eslint

feat(server): Add new llm models, o1, o1-mini, flash-2.0-exp
  packages/server/src/modules/global/ai-provider/ai-provider-defaults.ts
  packages/ui/src/pages/agents/chat/components/chat-input.tsx
  packages/ui/src/pages/agents/chat/components/chat.tsx
Due: prettier --write, eslint --fix, eslint

feat(ui): Add agents and recent executions to homepage
  packages/ui/src/components/icons.tsx
  packages/ui/src/models/agent/agent-model.ts
  packages/ui/src/pages/home/components/home-sections/home-section-agents.tsx
  packages/ui/src/pages/home/components/home-sections/home-section-recent-executions.tsx
  packages/ui/src/pages/home/components/home-sections/home-section-recent-tasks.tsx
  packages/ui/src/pages/home/components/learning-content-carousel.tsx
  packages/ui/src/pages/home/home-page.tsx
  packages/ui/src/tailwind/tailwind.output.css
Due: prettier --write, eslint --fix, eslint

chore(release): 0.19.0
  CHANGELOG.md
  package.json
  packages/apps/package.json
  packages/toolkit/package.json
Due: prettier --write

feat: Give agents profileImage and update home page
  packages/server/prisma/migrations/20241228012256_agent_icon_url/migration.sql
  packages/server/prisma/migrations/20241228052455_agent_profile_image_url/migration.sql
  packages/server/prisma/schema.prisma
  packages/server/src/modules/core/agents/agents.controller.ts
  packages/server/src/modules/core/agents/agents.service.ts
  packages/server/src/modules/core/agents/dto/agent-expansion.dto.ts
  packages/server/src/modules/core/agents/dto/create-agent.dto.ts
  packages/server/src/modules/core/agents/dto/update-profile-image.dto.ts
  packages/ui/src/api/services/agents-service.ts
  packages/ui/src/api/services/workflow-templates-service.ts
  packages/ui/src/components/avatar-uploader.tsx
  packages/ui/src/models/agent/agent-model.ts
  packages/ui/src/pages/agents/chat/components/new-chat-welcome.tsx
  packages/ui/src/pages/home/components/home-sections/home-section-agents.tsx
  packages/ui/src/pages/home/components/home-sections/home-section-recent-executions.tsx
  packages/ui/src/pages/home/components/home-sections/home-section-recent-tasks.tsx
  packages/ui/src/pages/home/components/learning-content-carousel.tsx
  packages/ui/src/pages/home/components/template-carousel.tsx
  packages/ui/src/pages/home/home-page.tsx
  packages/ui/src/tailwind/tailwind.input.css
  packages/ui/src/tailwind/tailwind.output.css
Due: prettier --write, eslint --fix, eslint

chore(release): 0.20.0
  CHANGELOG.md
  package.json
  packages/apps/package.json
  packages/toolkit/package.json
Due: prettier --write

feat(ui): Add agent ui improvements
  packages/ui/public/icons/discord.svg
  packages/ui/public/icons/github.svg
  packages/ui/public/icons/lecca-digital.png
  packages/ui/src/components/layouts/application-side-nav.tsx
  packages/ui/src/components/ui/avatar.tsx
  packages/ui/src/pages/agents/chat/components/message-agent-card.tsx
  packages/ui/src/pages/agents/chat/components/message-user-card.tsx
  packages/ui/src/pages/agents/components/table/agents-table-columns.tsx
  packages/ui/src/pages/home/components/home-sections/home-section-agents.tsx
  packages/ui/src/pages/home/components/template-carousel.tsx
  packages/ui/src/pages/home/home-page.tsx
  packages/ui/src/providers/application-side-nav-provider.tsx
  packages/ui/src/tailwind/tailwind.output.css
  packages/ui/tailwind.config.js
Due: prettier --write, eslint --fix, eslint

chore(release): 0.21.0
  CHANGELOG.md
  package.json
  packages/apps/package.json
  packages/toolkit/package.json
Due: prettier --write

feat(ui): New side nav for agent UI
  packages/ui/src/components/layouts/agent-side-nav.tsx
  packages/ui/src/components/layouts/application-layout.tsx
  packages/ui/src/components/layouts/application-side-nav.tsx
  packages/ui/src/pages/agents/chat/agent-chat-page.tsx
  packages/ui/src/pages/agents/chat/components/chat.tsx
  packages/ui/src/pages/agents/configure/agent-configure-page.tsx
  packages/ui/src/pages/projects/components/nav-selectors/nav-agent-selector.tsx
  packages/ui/src/providers/application-side-nav-provider.tsx
  packages/ui/src/router/routes.tsx
  packages/ui/src/tailwind/tailwind.output.css
Due: prettier --write, eslint --fix, eslint

chore(release): 0.22.0
  CHANGELOG.md
  package.json
  packages/apps/package.json
  packages/toolkit/package.json
Due: prettier --write

feat(server): Prevent execution and task deletion when billing disabled
  packages/server/src/modules/core/poller/poller.service.ts
Due: prettier --write, eslint --fix, eslint
