Repository simonmeyer88/lecca-io_ai_agent: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["prettier --write", "eslint --fix", "eslint"],
  "*.{json,md,css,html,yml,yaml}": ["prettier --write"]
}

chore: Add prettier plugin sort plugin
  .editorconfig
  .gitignore
  .prettierrc
  apps/server/src/apps/public/flow-control/actions/wait.action.ts
  tsconfig.base.json
Due: prettier --write, eslint --fix, eslint

ci: Verify ui deployment works
  apps/ui/src/pages/knowledge/knowledge-page.tsx
Due: prettier --write, eslint --fix, eslint

ci: Verify ui deploy works test 2
  apps/ui/src/pages/knowledge/knowledge-page.tsx
Due: prettier --write, eslint --fix, eslint

fix(ui): Add favicon folder to public
  apps/ui/public/favicon.ico
  apps/ui/public/favicon/apple-touch-icon.png
  apps/ui/public/favicon/favicon-16x16.png
  apps/ui/public/favicon/favicon-32x32.png
  apps/ui/public/favicon/safari-pinned-tab.svg
  apps/ui/public/favicon/site.webmanifest
Due: none

fix(ui): Add vercel.json for routing
  vercel.json
Due: prettier --write

ci(server): Add aws task def, deploy yml, and docker file
  .aws/task-definition.json
  .dockerignore
  .github/workflows/deploy-server-production.yml
  Dockerfile
Due: prettier --write

ci(server): Update github action paths
  .github/workflows/deploy-server-production.yml
Due: prettier --write

ci(server): Kick off server build test
  apps/server/src/apps/public/facebook-pages/facebook-pages.app.ts
  apps/server/src/apps/public/instagram-business/instagram-business.app.ts
Due: prettier --write, eslint --fix, eslint

fix(server): Add express dep instead of relying on @types/express
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci(server): Update deploy paths
  .github/workflows/deploy-server-production.yml
Due: prettier --write

ci(server): Update dockerfile
  Dockerfile
Due: none

docs: Update README.md
  README.md
Due: prettier --write

fix(server): Prevent stripe from throwing error when no api key is present
  apps/server/src/modules/commercial/billing/billing.controller.ts
  apps/server/src/modules/commercial/stripe/stripe.service.ts
Due: prettier --write, eslint --fix, eslint

feat: Create default project for new users
  apps/server/src/modules/core/workspace-users/workspace-users.service.ts
  apps/ui/src/pages/onboarding/onboarding-page.tsx
Due: prettier --write, eslint --fix, eslint

ci(server): Fix docker start script
  Dockerfile
Due: none

refactor(server): Change connection id delimiter to _connection_
  apps/server/src/apps/lib/app.ts
  apps/server/src/apps/lib/connection.ts
  apps/server/src/apps/public/anthropic/connections/anthropic.api-key.ts
  apps/server/src/apps/public/apify/connections/apify.api-key.ts
  apps/server/src/apps/public/calendly/connections/calendly.oauth2.ts
  apps/server/src/apps/public/close/connections/close.oauth2.ts
  apps/server/src/apps/public/dropbox/connections/dropbox.oauth2.ts
  apps/server/src/apps/public/facebook-pages/connections/facebook-pages.oauth2.ts
  apps/server/src/apps/public/gemini/connections/gemini.api-key.ts
  apps/server/src/apps/public/gmail/connections/gmail.oauth2.ts
  apps/server/src/apps/public/google-calendar/connections/google-calendar.oauth2.ts
  apps/server/src/apps/public/google-contacts/connections/google-contacts.oauth2.ts
  apps/server/src/apps/public/google-docs/connections/google-docs.oauth2.ts
  apps/server/src/apps/public/google-drive/connections/google-drive.oauth2.ts
  apps/server/src/apps/public/google-forms/connections/google-forms.oauth2.ts
  apps/server/src/apps/public/google-sheets/connections/google-sheets.oauth2.ts
  apps/server/src/apps/public/google-slides/connection/google-slides.oauth2.ts
  apps/server/src/apps/public/hubspot/connections/hubspot.oauth2.ts
  apps/server/src/apps/public/instagram-business/connections/instagram-business.oauth2.ts
  apps/server/src/apps/public/linkedin/connections/linkedin.oauth2.ts
  apps/server/src/apps/public/microsoft-excel-365/connections/microsoft-excel-365.oauth2.ts
  apps/server/src/apps/public/microsoft-outlook/connections/microsoft-outlook.oauth2.ts
  apps/server/src/apps/public/notion/connections/notion.oauth2.ts
  apps/server/src/apps/public/openai/connections/openai.api-key.ts
  apps/server/src/apps/public/paradigm-vendo/connections/paradigm-vendo.key-pair.ts
  apps/server/src/apps/public/sales-rabbit/connections/sales-rabbit-api-key.ts
  apps/server/src/apps/public/slack/connections/slack.oauth2.ts
  apps/server/src/apps/public/vapi/connections/vapi.api-key.ts
  apps/server/src/apps/public/x/connections/x.oauth2.ts
  apps/server/src/apps/public/youtube/connections/youtube.oauth2.ts
  apps/server/src/apps/public/zoho-books/connections/zoho-books.oauth.ts
  apps/server/src/apps/public/zoho-crm/connections/zoho-crm.oauth.ts
  apps/server/src/modules/core/workflow-apps/workflow-apps.service.ts
  apps/server/src/modules/global/ai-provider/ai-provider-defaults.ts
Due: prettier --write, eslint --fix, eslint

feat(server): Fetch ollama details using axios instead of using exec
  apps/server/src/modules/global/ai-provider/ai-provider.service.ts
  apps/server/src/modules/global/ai-provider/utils/ollama-utils.ts
Due: prettier --write, eslint --fix, eslint

docs: Update serve script in README.md
  README.md
Due: prettier --write

feat(ui): Disable auto scroll on chat ui if user scrolls up
  apps/ui/src/pages/agents/chat/components/chat.tsx
Due: prettier --write, eslint --fix, eslint

feat(server): Add agent tool and trigger metadata
  apps/server/prisma/migrations/20241128165840_agent_tool_ids_and_trigger_ids/migration.sql
  apps/server/prisma/schema.prisma
  apps/server/src/modules/core/agents/agents.service.ts
Due: prettier --write, eslint --fix, eslint

feat(server): Add agent expansions for toolIds and triggerIds
  apps/server/src/modules/core/agents/agents.service.ts
  apps/server/src/modules/core/agents/dto/agent-expansion.dto.ts
Due: prettier --write, eslint --fix, eslint

fix(server): Filter internal workflows from recent workflows request
  apps/server/src/modules/core/workflows/workflows.service.ts
Due: prettier --write, eslint --fix, eslint

feat(ui): Add toolIds and triggerIds expansion and properties to agent model
  apps/ui/src/api/services/agents-service.ts
  apps/ui/src/models/agent/agent-model.ts
Due: prettier --write, eslint --fix, eslint

refactor(server): Rename apps variable in apps.ts
  apps/server/src/apps/public/apps.ts
Due: prettier --write, eslint --fix, eslint

refactor(server): Remove unused method getAiProviderClient
  apps/server/src/modules/global/ai-provider/ai-provider.service.ts
Due: prettier --write, eslint --fix, eslint

feat(server): Add provider endpoint to ai controller
  apps/server/src/modules/global/ai-provider/ai-provider.controller.ts
Due: prettier --write, eslint --fix, eslint

docs: Update CONTRIBUTION.md
  CONTRIBUTION.md
Due: prettier --write

docs: Update docs links
  apps/ui/src/components/layouts/application-side-nav.tsx
  apps/ui/src/components/layouts/onboarding-layout.tsx
  apps/ui/src/pages/onboarding/onboarding-page.tsx
Due: prettier --write, eslint --fix, eslint

refactor(server): Rename email config type
  apps/server/src/apps/public/microsoft-outlook/triggers/email-received.trigger.ts
Due: prettier --write, eslint --fix, eslint

refactor(server): Rename isValidMilli to isValidMilliOrNull
  apps/server/src/apps/lib/trigger.ts
  apps/server/src/apps/public/gmail/triggers/email-received.trigger.ts
  apps/server/src/apps/utils/is-valid-milli.ts
Due: prettier --write, eslint --fix, eslint

refactor(server): Rename dateStringToMilliOrNull to camel case
  apps/server/src/apps/public/google-calendar/triggers/new-calendar-event.trigger.ts
  apps/server/src/apps/public/google-docs/triggers/new-document-in-folder.trigger.ts
  apps/server/src/apps/public/google-docs/triggers/new-document.trigger.ts
  apps/server/src/apps/public/google-drive/triggers/new-file-in-folder.trigger.ts
  apps/server/src/apps/public/google-drive/triggers/new-file.trigger.ts
  apps/server/src/apps/public/google-forms/triggers/new-form-response.trigger.ts
  apps/server/src/apps/public/google-sheets/triggers/new-spreadsheet-in-folder.trigger.ts
  apps/server/src/apps/public/google-sheets/triggers/new-spreadsheet.trigger.ts
  apps/server/src/apps/public/microsoft-outlook/triggers/email-received.trigger.ts
  apps/server/src/apps/public/notion/triggers/new-database-item.trigger.ts
  apps/server/src/apps/public/notion/triggers/page-updated.trigger.ts
  apps/server/src/apps/public/notion/triggers/updated-database-item.trigger.ts
  apps/server/src/apps/public/sales-rabbit/triggers/lead-status-updated-on-device.trigger.ts
  apps/server/src/apps/public/zoho-crm/triggers/new-contact.trigger.ts
  apps/server/src/apps/public/zoho-crm/triggers/new-lead.trigger.ts
  apps/server/src/apps/utils/date-string-to-milli-or-null.ts
Due: prettier --write, eslint --fix, eslint

ci: Update dockerfiles, github actions, and vercel config
  .dockerignore
  .github/workflows/deploy-server-production.yml
  .github/workflows/deploy-ui-production.yml
  .gitignore
  .releaserc.json
  Dockerfile
  apps/server/.dockerignore
  apps/server/Dockerfile
  apps/server/src/apps/public/slack/slack.app.ts
  apps/server/src/apps/public/zoho-crm/zoho-crm.app.ts
  apps/ui/.dockerignore
  apps/ui/.gitignore
  apps/ui/Dockerfile
  apps/ui/vercel.json
  package.json
  pnpm-lock.yaml
  vercel.json
Due: prettier --write, eslint --fix, eslint

ci: Fix github actions
  .github/workflows/deploy-server-production.yml
  .github/workflows/deploy-ui-production.yml
  docker-compose.yml
Due: prettier --write

ci: Add release.yml and remove prod branch check
  .github/release.yml
  .github/workflows/check-branch-name.yml
Due: prettier --write

ci: Add create-release action
  .github/workflows/commitlint.yml
  .github/workflows/create-release.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: Update create-release.yml
  .github/workflows/create-release.yml
  .releaserc.json
Due: prettier --write
